{% extends 'users/base.html' %}

{% block title %}Инструкции отправлены{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Инструкции отправлены</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <p>Мы отправили вам email с инструкциями по восстановлению пароля.</p>
                    <p>Проверьте ваш почтовый ящик и следуйте инструкциям в письме.</p>
                </div>
                
                <div class="text-center">
                    <a href="{% url 'users:login' %}" class="btn btn-primary">Вернуться ко входу</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
